<p id="notice"><%= notice %></p>

<p>
  <strong>Word:</strong>
  <%= @word.word %>
</p>

<%= button_to 'Search', word_results_path(@word) %>

<table>
  <% @word.results.each do |result| %>
    <tr>
      <td><%= result.result %></td>
      <td><%= result.created_at.getlocal %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
